@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}
button {
  cursor: pointer;
}
.container {
  width: 1300px;
  margin: auto;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: white;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-left button {
  font-size: 18px;
  background: #e7e9eb;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 10px;
  color: #11293b;
}
.input {
  width: 240px;
  font-size: 18px;
  background: #e7e9eb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.input input {
  padding: 2px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 25px;
}
.web-info select {
  background: #e7e9eb;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 8px 16px;
}

section {
  background: #ffe2b5;
  border-radius: 20px;
  font-family: "Poppins";
  padding: 1px 93px;
  padding-top: 90px;
  font-style: normal;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.section-left {
  width: 430px;
}
.section-left h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 78px;
  color: #000000;
}
.section-left h1 span {
  font-weight: 700;
}
.section-left p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  color: #11293b;
}
.section-left button {
  background: #000000;
  border: none;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 24px;
  border-radius: 30px;
  color: #d0ad37;
  display: flex;
  align-items: center;
  transition: 0.2s linear;
  padding-left: 15px;
  cursor: pointer;
  gap: 5px;
  margin-top: 28px;
}
.section-left button:hover {
  gap: 20px;
  padding-left: 18px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}
.card img {
  width: 245px;
  cursor: pointer;
}
.card-body {
  padding: 18px 10px;
}
.card-body h4 {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}
.price p {
  font-weight: 400;
  font-size: 19px;
  color: #fd4e61;
}
.price span {
  font-weight: 400;
  font-size: 19px;
  text-decoration-line: line-through;
  color: #11293b;
}

.card button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #11293b;
  width: 245px;
  padding: 17px;
  border-radius: 20px;
  background: #e7e9eb;
  border: none;
  cursor: pointer;
}
.card button img {
  width: 20px;
}
